@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Product
@{
    ViewBag.Title = "ProductBring";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
} 

<br />
<h2>Product Update Page</h2>
<br />

@using (Html.BeginForm("ProductUpdate", "Product", FormMethod.Post))
{
   @Html.HiddenFor(x=>x.ProductID)
    @Html.LabelFor(x => x.ProductName)
    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductBrand)
    @Html.TextBoxFor(x => x.ProductBrand, new {@class = "form-control"})
    <br />
    @Html.LabelFor(x => x.ProductPurchasePrice)
    @Html.TextBoxFor(x => x.ProductPurchasePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductSalePrice)
    @Html.TextBoxFor(x => x.ProductSalePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CategoryId)
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    @*@Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })*@
    <br />
    @Html.LabelFor(x => x.ProductStock)
    @Html.TextBoxFor(x => x.ProductStock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductImage)
    @Html.TextBoxFor(x => x.ProductImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.ProductSituation)
    @Html.TextBoxFor(x => x.ProductSituation, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Update</button>

}
