@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Bill_Item

@{
    ViewBag.Title = "NewBill_Item";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>New Bill Item Page</h2>
<br />
@using (Html.BeginForm("BillAdd", "Bill", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form class="form-group" method="post">
        <br />
        @Html.LabelFor(x => x.BillDescription)
        @Html.TextBoxFor(x => x.BillDescription, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.BillQuantity)
        @Html.TextBoxFor(x => x.BillQuantity, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.BillUnitQuantities)
        @Html.TextBoxFor(x => x.BillUnitQuantities, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.BillAmount)
        @Html.TextBoxFor(x => x.BillAmount, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Bill_ItemID)
        @Html.TextBoxFor(x => x.Bill_ItemID, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Save</button>
    </form>

}

