@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<CargoDetail>

@{
    ViewBag.Title = "CargoDetail";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}

<br />
@using (Html.BeginForm("CargoTracking", "CurrentPanel", FormMethod.Get))
{
    <p>
        Cargo Tracking Number: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Employee</th>
        <th>Receiver</th>
        <th>TrackingCode</th>
        <th>Date</th>
        <th>Details</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Employee</td>
            <td>@k.Receiver</td>
            <td>@k.TrackingCode</td>
            <td>@k.Tarih</td>
            <td><a href="/CurrentPanel/CurrentCargoTracking/@k.TrackingCode" class="btn btn-default" style="background-color:lightcoral; color:white">Details</a></td>
        </tr>
    }
</table>


