@model MvcOnlineTicariOtomasyon.Models.Sınıflar.CargoDetail

@{
    ViewBag.Title = "NewCargo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>New Cargo Information Page</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.TrackingCode)
    <input type="text" value="@ViewBag.takipkod" class="form-control" readonly name="TrackingCode" />
    <br />
    @Html.LabelFor(x => x.Employee)
    @Html.TextBoxFor(x => x.Employee, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Receiver)
    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    <input class="form-control" type="date" name="Tarih" />
    <br />
    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Save</button>
</form>

